
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
}

header
{
    background-image: url('../Assets/Hero-bg.png');
    height: 680px;
    
}

.btn
{
   
    border-radius: 2px 2px 2px 2px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    
   
}

header nav
{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin: 0px 100px;
    padding: 60px 0px 0px 0px;
}
header nav h1
{
    font-size: 30px;
    color: blue;
    font-weight:bolder;
}
.header-div
{
    display: flex;
     
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 200px;
    
   
}
.header-div h1
{
    font-size: 50px;
   
}
.sec-1-div-1
{
    display: flex;
   
    align-items: center;
    justify-content: space-between;
    margin: 200px 300px;
}
.text-p-1
{
    font-size: 16px;
    color: gray;
}
.text-p-2
{
    font-size: 12px;
    color: gray; 
    margin: 0px 0px;
}
.sec-1-div-2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
     background-color: rgba(79, 71, 225, 0.156);
     width: 800px;
     margin: 100px auto;
     border-radius: 15px;
     padding: 35px 55px;
}
.sec-1-div-2-rate
{
    display: flex;
    gap: 120px;

}
.rate-size
{
    margin: 0px;
    color: #4E47FF;
}
.review-sec
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color:rgba(92, 67, 234, 0.034);
}
.review-sec-cards
{
    display: flex;
    gap: 30px;
}
.review-sec-card-div
{
    width: 280px;
   height: 250px;
   box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.38);
   background-color: white;
}
.card-img
{
    border-radius: 100%;
    height:40px;
   
}
.reviewer-info
{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.let-get-touch-sec
{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin: 100px 400px;
    padding: 80px 0;
   
  
    

}
footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
footer ul 
{
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 4px;
 

}
footer ul li a
{
    text-decoration: none;
     color: gray;
}
.btn-of:hover
{
    background-color: black;
}